/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  align-items: center;
  height: 70rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 8rem;
}
.header p {
  font-size: 1.5rem;
  position: relative;
  right: 7rem;
}
.header button {
  border: 1px solid white;
  border-radius: 40px;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  position: relative;
  left: 8.5rem;
}
.header button:hover {
  background-color: rgb(60, 24, 187);
  opacity: 80%;
  color: white;
}
.about {
  position: relative;
  border-radius: 20px;
  display: flex;
  top: 0rem;
  width: 80%;
  height: 2rem;
  justify-content: space-around;
  color: white;
}
.disc {
  position: relative;
  top: 3rem;
  left: 4rem;
}
.moods {
  display: flex;
  position: relative;
  top: 3.5rem;
  gap: 1rem;
}
.moods button {
  width: 11rem;
  background-color: #020617;
  border: 1px solid #1e40af;
  transition: border-color 0.2s;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  height: 8rem;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 1px #1e40af;
}
.img {
  font-size: 3.5rem;
}
.moods button:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px #1e40af;
  transition: 0.3s;
}
.wtf {
  color: white;
}
.cal {
  position: relative;
  top: 10rem;

  border-radius: 20px;
  width: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.datum {
  width: 8rem;
  position: relative;
  left: 0.5rem;
} */
