* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.adminmain {
  background-color: gainsboro;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminheader {
  background-color: gainsboro;
  width: 80%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.adminheader h1 {
  font-size: 1.3rem;
  font-weight: 600;
}
.adminstats {
  width: 80%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 7rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adminstats .prvideo {
  display: flex;
  /* background-color: red; */
  gap: 1rem;
}
.prvideolevo i {
  font-size: 2rem;
}
.prvideolevo {
  border-radius: 50%;
  background-color: rgb(231, 208, 228);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prvideodesno p {
  color: gray;
}
.prvideodesno h1 {
  font-size: 2rem;
  font-weight: 600;
}

.adminstats .drugideo {
  display: flex;
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  width: 33.3%;
  position: relative;
  right: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.drugideolevo i {
  font-size: 2rem;
}
.drugideolevo {
  border-radius: 50%;
  background-color: rgb(231, 208, 228);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drugideodesno p {
  color: gray;
}
.drugideodesno h1 {
  font-size: 2rem;
  font-weight: 600;
}
.adminstats .trecideo {
  display: flex;
  gap: 1rem;
}
.trecideolevo i {
  font-size: 2rem;
}
.trecideodesno p {
  color: gray;
}
.trecideodesno h1 {
  font-size: 2rem;
  font-weight: 600;
}
.trecideolevo {
  border-radius: 50%;
  background-color: rgb(231, 208, 228);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admincustomers {
  width: 80%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 2rem;
  height: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admincustomers h1 {
  position: relative;
  top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.admincustomersinfo {
  width: 70%;

  height: 19rem;

  position: relative;
  top: 1rem;
}
.admincustomersinfoheader {
  width: 100%;

  height: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.admincustomersinfoheader h1 {
  font-size: 1rem;
}
.admincustomerinfouseri {
  width: 70%;
  height: 40rem;
  position: relative;
  bottom: 2rem;
  display: flex;

  flex-direction: column;
  gap: 0.5rem;
}
.ljudi {
  display: flex;

  justify-content: space-between;

  width: 100%;
}
.pages {
  position: relative;
  bottom: 1rem;
}
.removeikona {
  cursor: pointer;
}
.admincustomers input {
  background-color: rgb(204, 195, 195);
  position: absolute;
  left: 5.5rem;
  border: none;
  height: 3rem;
  top: 0.5rem;
  border-radius: 20px;
  color: black;
  padding-left: 15px;
}
.admincustomers input::placeholder {
  color: black;
}
/* Defaultni stilovi (za desktop i veće ekrane) */

/* Svi već postojeći stilovi */

/* Dodatni upiti za vrlo male ekrane (npr. telefoni u vertikalnom položaju) */
@media (max-width: 480px) {
  .adminheader {
    height: 3rem;
    margin-top: 1rem;
    background-color: transparent;
  }
  .adminheader h1 {
    font-size: 1rem;
  }
  .adminmain {
    background-color: rgb(118, 142, 150);
    height: 952px;
    width: 100%;
  }

  .adminstats {
    /* gap: 0.5rem; */
    flex-direction: column;
    height: 25%;
    padding: 15px;
  }
  .adminstats .prvideo {
    width: 100%;
  }
  .adminstats .drugideo {
    border: none;
    width: 100%;
    position: relative;
    left: 0%;
    display: flex;
    justify-content: start;
  }
  .adminstats .trecideo {
    border: none;
    width: 100%;
  }
  .admincustomers {
    padding: 0rem;
    position: relative;
    height: 700px;

    overflow: hidden;
  }

  .admincustomersinfoheader h1 {
    font-size: 0.8rem;
  }

  .admincustomersinput {
    width: 100%;
    height: 2.5rem;
  }

  .ljudi {
    width: 100%;
    display: block;
    gap: 0.5rem;
  }

  .prvideo i {
    font-size: 20px;
  }
  .drugideo i {
    font-size: 20px;
  }
  .trecideo i {
    font-size: 20px;
  }
  .prvideolevo {
    width: 3rem;
    height: 3rem;
  }
  .drugideolevo {
    width: 3rem;
    height: 3rem;
  }
  .trecideolevo {
    width: 3rem;
    height: 3rem;
  }
  .prvideodesno h1 {
    font-size: 1rem;
  }
  .drugideodesno h1 {
    font-size: 1rem;
  }
  .trecideodesno h1 {
    font-size: 1rem;
  }
  .admincustomersinfoheader {
    display: none;
  }
  .admincustomers input {
    position: relative;
    left: 0;
    top: 2rem;

    height: 5rem;
  }
  .admincustomerinfouseri {
    position: relative;
    bottom: 4rem;
  }
}
