* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.firstmain {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.firstunder {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.firstheader {
  background-color: rgb(48, 44, 44);
  width: 50%;
  border-radius: 0 0 50px 50px;
  height: 13vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.firstheader h1 {
  cursor: pointer;
}
.firstheader ul li {
  cursor: pointer;
}
.firstheader ul {
  display: flex;
  gap: 2rem;

  position: relative;

  top: 0.5rem;
  color: rgb(122, 121, 121);
}
.firstabout {
  background: linear-gradient(to bottom, #3b82f6, #8b5cf6);
  width: 90%;
  height: 83.2vh;
  position: relative;
  top: 1.5rem;
  border-radius: 40px;
}
.firstabout button {
  background-color: #3b82f6; /* Početna boja dugmeta */
  color: white; /* Boja teksta */
  border: none; /* Bez ivica */
  padding: 12px 24px; /* Unutrašnji razmak */
  font-size: 16px; /* Veličina fonta */
  border-radius: 8px; /* Zaobljeni uglovi */
  cursor: pointer; /* Kursor koji se menja u ruku */
  transition: 0.3s ease, transform 0.3s ease;
  position: relative;
  left: 15rem;
  top: 12rem;
  width: 10rem;
  height: 4rem;
}
.firstabout button:hover {
  background-color: #8b5cf6; /* Boja pri hover-u */
  transform: scale(1.1);
}
.firstabout h1 {
  font-size: 3rem;
  color: black;
  position: relative;

  top: 4rem;
  left: 8rem;
  width: 40%;
  font-family: "Wixmadefordisplay", sans-serif;
  font-weight: 600;
}
.firstabout p {
  width: 35%;

  position: relative;
  top: 8rem;
  left: 8rem;
}
.slika img {
  position: absolute;
  left: 60%;
  bottom: 1rem;
  height: 28rem;
}
.firstunder1 {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 2rem;
}
.firstunder1 p {
  color: white;
  position: relative;
  top: 27%;
  left: 13%;
  width: 20rem;
}
.firstunder1 h1 {
  color: white;
  width: 40%;
  font-size: 3rem;
  position: relative;
  top: 30%;
  left: 13%;
  font-weight: 700;
}
.firstunder1 .custom {
  width: 40%;
  height: 80%;
  background-color: rgb(41, 38, 38);
  position: relative;
  left: 50%;
  bottom: 10rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.firstunder1 .custom .customunder {
  width: 80%;

  height: 6rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
}

.firstunder1 .custom .customunder:nth-child(1) {
  background-color: white;
}
.firstunder1 .custom .customunder:nth-child(2) {
  background-color: rgb(214, 130, 214);
}
.firstunder1 .custom .customunder:nth-child(3) {
  background-color: rgb(107, 167, 216);
}
.firstunder1 .custom .customunder:nth-child(4) {
  background-color: rgb(121, 233, 196);
}
.firstunder1 .custom .customunder:nth-child(5) {
  background-color: rgb(231, 233, 121);
}
.firstunder2 {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstunder2 .div {
  width: 90%;
  height: 90%;
  background-color: rgb(24, 23, 23);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstunder2 .div .krug {
  border-radius: 50%;
  border: 5px solid rgb(73, 73, 156);
  width: 400px;
  height: 400px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 600;
}
.firstunder3 {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.firstunder3levi {
  width: 43.5%;
  height: 90%;
  background-color: rgb(24, 23, 23);
  border-radius: 40px;
  z-index: 1;
  overflow: hidden;
}
.firstunder3desni {
  width: 43.5%;
  height: 90%;
  background-color: rgb(24, 23, 23);
  border-radius: 40px;
}
.firstunder3levimuscle {
  border-radius: 50%;
  background-color: rgb(26, 26, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  position: relative;
  top: 5rem;
  left: 3rem;
  animation: move-diagonally 10s linear infinite;
}
@keyframes move-diagonally {
  0% {
    transform: translate(0, 0); /* Početna pozicija */
  }
  50% {
    transform: translate(10px, 10px); /* Kretanje ka gornjem levom uglu */
  }
  100% {
    transform: translate(0, 0); /* Povratak na početnu poziciju */
  }
}
.firstunder3levimuscle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: rgb(135, 208, 211);
  }
  25% {
    transform: rotate(90deg);
    border-top-color: rgb(135, 208, 211);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: rgb(135, 208, 211);
  }
  75% {
    transform: rotate(270deg);
    border-top-color: rgb(135, 208, 211);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgb(135, 208, 211);
  }
}

.firstunder3levimuscle img {
  width: 170px;
  height: 170px;
  position: relative; /* Obezbeđuje da slika ostane nepomična */
  z-index: 1; /* Osigurava da slika ostane iznad pseudo-elementa */
}
.firstunder3leviserije {
  width: 30%;
  position: relative;
  z-index: 1;
  left: 20rem;
  animation: move-diagonally 10s linear infinite;
  background-color: rgb(26, 26, 34);
  border-radius: 20px;
  bottom: 3rem;
}
.firstunder3leviserije::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid transparent;
  animation: rotate2 3s linear infinite;
}
@keyframes rotate2 {
  0% {
    border-top-color: rgb(130, 158, 104); /* Crvena boja na vrhu */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: rgb(135, 208, 211); /* Zelena boja desno */
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(135, 208, 211); /* Plava boja dole */
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(135, 208, 211); /* Žuta boja levo */
  }
  100% {
    border-top-color: rgb(135, 208, 211); /* Povratak na crvenu boju */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.firstunder3levi h1 {
  color: white;

  width: 70%;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  left: 15%;
  text-align: center;
  top: 1rem;
}
.firstunder3leviaktivnost {
  width: 25%;
  height: 5rem;
  font-size: 1rem;
  position: relative;
  bottom: 30rem;
  background-color: rgb(54, 177, 177);
  border-radius: 20px;
  left: 77%;
  z-index: 0;
  border: 2px solid transparent;
  animation: rotate2 3s linear infinite;
  animation: move-diagonally 10s linear infinite;
}
.firstunder3leviaktivnost h1 {
  font-size: 1rem;
}
.firstunder3desnikalorije {
  width: 10rem;
  height: 10rem;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: move-diagonally 10s linear infinite;
  position: relative;
  top: 5rem;
  left: 5rem;
}
.firstunder3desnikalorije h1 {
  font-size: 2rem;
  font-weight: 600;
}
.firstunder3desnical {
  background-color: rgb(18, 194, 135);
  width: 40%;
  border-radius: 30px;
  animation: move-diagonally 10s linear infinite;
  position: relative;
  left: 50%;
  bottom: 4rem;
}
.firstunder3desnitime {
  width: 30%;
  animation: move-diagonally 10s linear infinite;

  background-color: rgb(153, 197, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  position: relative;
  bottom: 9rem;
  left: 3rem;
}
.firstunder3desnih1 {
  color: white;

  width: 70%;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  left: 15%;
  text-align: center;
  bottom: 1.6rem;
}
@media (max-width: 430px) {
  .firstmain {
    width: 100%;
  }
  .firstheader {
    width: 70%;
    height: 6rem;
    gap: 0.5rem;
  }
  .firstabout h1 {
    left: 0rem;
    font-size: 2.5rem;
    text-align: center;
    top: 1rem;
    width: 100%;
  }
  .firstabout p {
    left: 2rem;
    top: 3rem;
    width: 60%;
  }
  .firstabout button {
    left: 1.8rem;
    top: 4rem;
  }
  .firstabout .slika img {
    left: 8rem;
  }
  .firstunder1 .custom {
    width: 90%;
    left: 5%;
    height: 30rem;
    top: 0;
  }
  .firstunder1 h1 {
    top: 0;
    width: 86%;
    font-size: 1.6rem;
    left: 7%;
    text-align: center;
    top: 40rem;
    font-weight: 900;
  }
  .firstunder1 p {
    top: 40rem;
    text-align: center;
    width: 100%;
    left: 0;
  }
}
