.homerating {
  position: relative;
  margin-top: 2rem;
  left: 33rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 10rem;
  font-size: 2rem;
}
.homerating h1 {
  position: relative;
  left: 1rem;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .homerating {
    position: relative;
    left: -2rem;
    font-size: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .homerating h1 {
    position: relative;
    left: 3rem;
    font-size: 30px;
  }
  .homerating button {
    position: relative;
    left: 3rem;
    background-color: transparent;
    border: 1px solid rgb(60, 60, 104);
    width: 7rem;
    height: 4rem;
    border-radius: 25px;
    bottom: 1rem;
  }
}
