* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: linear-gradient(
    to bottom,
    rgb(240, 248, 255),
    rgb(228, 227, 227)
  );
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  position: relative;
  top: 0rem;
  width: 100%;
  align-items: center;
}
.left {
  position: relative;
  left: 9rem;
}
.left h1 {
  color: rgb(60, 60, 60);
}
.left p {
  color: rgb(90, 90, 90);
}
.button1 {
  right: 9rem;
  position: relative;
  border: 1px solid;
  width: 6rem;
  height: 3rem;
  border-radius: 30px;
  background-color: rgb(173, 216, 230);
}
.button1:hover {
  background-color: rgb(135, 206, 250);
}
.button2 {
  position: relative;
  border: 1px solid;
  color: white;
  left: 19rem;
  width: 8rem;
  height: 3rem;
  border-radius: 30px;
  background-color: rgb(144, 238, 144);
}
.button2:hover {
  background-color: rgb(102, 205, 102);
}
.info {
  color: rgb(0, 51, 102);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 4rem;
  margin: 0 auto 0 auto;
  background-color: rgb(240, 248, 255);
}
.drugip {
  color: rgb(60, 60, 60);
}

.stats {
  background-color: rgb(240, 248, 255);
  width: 55%;
  height: 25rem;
  position: relative;
  top: 2rem;
  left: 9em;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.stats h1 {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: rgb(25, 42, 86);
}
.sets {
  height: 80%;
  position: relative;
  top: 15%;
  border-radius: 0 0 0 30px;
}
.muscles {
  height: 80%;

  position: relative;
  top: 20%;

  border-left: 1px solid rgb(44, 42, 42);
  border-right: 1px solid rgb(44, 42, 42);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.calories {
  height: 80%;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px;
}
.calories2 {
  position: relative;
  top: 1.3rem;
}
.calories h1 {
  position: relative;
  top: -0.2rem;
  font-size: 20px;
  left: 0;
}
.calories p {
  position: relative;
  top: 0rem;
  font-size: 30px;
}
.calendar2 {
  height: 25rem;
  background-color: rgb(79, 231, 241);
  position: absolute;
  width: 23%;
  left: 143vh;
  border-radius: 30px;
  top: 13rem;
}
.undercalendar {
  position: relative;
  top: 2rem;
}
.muscles2 {
  width: 100%;
}
