* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: rgb(39, 38, 38);
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  position: relative;
  top: 0rem;
  width: 100%;
  align-items: center;
}
.left {
  position: relative;
  left: 9rem;
}
.button1 {
  right: 9rem;
  position: relative;
  border: 1px solid;
  width: 6rem;
  height: 3rem;
  border-radius: 30px;
}
.button2 {
  position: relative;
  border: 1px solid;
  color: white;
  left: 19rem;
  width: 8rem;
  height: 3rem;
  border-radius: 30px;
}
.info {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-radius: 20px;
  height: 4rem;
  margin: 0 auto 0 auto;
  background-color: rgb(70, 67, 67);
}
.stats {
  background-color: rgb(70, 67, 67);
  width: 55%;
  height: 25rem;
  position: relative;
  top: 2rem;
  left: 9em;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.stats h1 {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.sets {
  height: 80%;
  position: relative;
  top: 20%;
  border-radius: 0 0 0 30px;
}
.muscles {
  height: 80%;
  position: relative;
  top: 20%;
  border-left: 1px solid rgb(44, 42, 42);
  border-right: 1px solid rgb(44, 42, 42);
}
.calories {
  height: 80%;
  position: relative;
  top: 20%;
  border-radius: 0 0 30px;
}
.calories2 {
  position: relative;
  left: 2rem;
}
.calories h1 {
  position: absolute;
  top: 12rem;
  left: 4.5rem;
}
.calories p {
  position: relative;
  left: 6.7rem;
  top: 1rem;
  font-size: 2rem;
}
.calendar2 {
  height: 25rem;
  background-color: rgb(55, 102, 255);
  position: absolute;
  width: 23%;
  left: 143vh;
  border-radius: 30px;
  top: 13rem;
}
.undercalendar {
  position: relative;
  top: 2rem;
}
